<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>::APP_TITLE::</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	
	<style>
		html,body { margin: 0; padding: 0; height: 100%; overflow: hidden; }
		#openfl-embed { background: #000000; width: 100%; height: 100%; margin: auto; }
	</style>
	
	<script>
		window.addEventListener ("touchmove", function (event) { event.preventDefault (); }, false);
	</script>
	
</head>
<body>
	
	<div id="openfl-embed"></div>
	
	::if DEFINE_STATS::<script src="./stats.min.js"></script>::end::
	<script type="text/javascript" src="./::APP_FILE::.js"></script>
	
</body>
</html>